# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.vscode
*/__pycache__/*
semantic_parsing/table/__pycache__/*

semantic_parsing/data/input/BERT_pretrained_models/*
semantic_parsing/data/input/BERT_tokenizer_models/*
semantic_parsing/data/output/*
semantic_parsing/table/modules/__pycache__/*
